.submit-button {
  align-items: center;
  background-color: #c3002f;
  border: 1px solid #c3002f;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  justify-content: flex-start;
  margin-top: -3px;
  outline: none;
  padding: 0 15px;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:not(:hover) {
    opacity: 1;
  }

  &__title {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;

    &::after,
    &::before {
      content: '';
      background-color: #fff;
      display: block;
      height: 2px;
      position: absolute;
      right: 24px;
      transform: translate(5px, -50%) rotate(45deg);
      width: 10px;
    }

    &::before {
      top: 40%;
    }

    &::after {
      bottom: 40%;
      transform: translate(5px, -50%) rotate(-45deg);
    }
  }
}
