%table-item-text {
  color: #323232;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

%table-main-text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;

  &__title {
    color: #282d30;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin: 0 10px 16px;
    padding-left: 15px;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: "";
      background-color: #8b8b8b;
      display: block;
      height: 18px;
      left: 0;
      position: absolute;
      top: 2px;
      width: 3px;
    }
  }

  &__main-row {
    align-items: center;
    background-color: #c3002f;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    display: none;
    height: 44px;
    margin: 0 10px;
    padding-left: 15px;
  }

  &__main-text {
    @extend %table-main-text;
  }

  &__item-row {
    background-color: #f5f6f6;
    border-bottom: 1px solid #dadada;
    box-sizing: border-box;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__item-row {
    display: flex;
    flex-flow: row wrap;
    padding: 16px 20px;
  }

  &__item {
    &_name,
    &_year,
    &_status,
    &_price,
    &_description {
      @extend %table-item-text;
      margin: 0;
    }

    &_name {
      max-height: 40px;
      order: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 145 / 320 * 100%;
    }

    &_color {
      margin: 0 15px 0 auto;
      order: 2;
    }

    &_price {
      order: 3;
      width: 100px;
    }

    &_description {
      margin: 10px 0;
      order: 4;
      width: 100%;
    }

    &_year {
      margin-right: 14px;
      order: 5;
      width: 36px;
    }

    &_status {
      order: 6;
      width: 110px;
    }

    &_remove {
      order: 7;
    }

    &_description {
      color: #8b8b8b;
      font-size: 13px;
      line-height: 16px;
    }
  }

  @media screen and (min-width: 720px) {
    margin-top: 60 / 720 * 100%;

    &__title {
      margin: 0 10px 30px;
    }

    &__main-row {
      display: flex;
    }

    &__items-list {
      margin: 0 10px;
    }

    &__item-row {
      align-items: center;
      padding: 12px 0 11px 15px;
    }

    &__item {
      margin: 0;

      &_name {
        white-space: nowrap;
        width: unset;
      }

      &_year,
      &_status,
      &_price,
      &_remove {
        order: 2;
      }
    }

    &__col1 {
      margin-right: auto;
      width: 256 / 685 * 100%;
    }

    &__col2,
    &__col3 {
      width: 40px;
    }

    &__col4,
    &__col5 {
      width: 100px;
    }

    &__col6 {
      width: 85px;
    }

    &__col1,
    &__col2,
    &__col3,
    &__col5,
    &__col6 {
      margin-right: auto;
    }

    &__col3 {
      display: flex;
      justify-content: center;
    }

    &__col4 {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 800px) {
    margin-top: 134 / 978 * 100%;

    &__col1 {
      width: 454 / 943 * 100%;
    }
  }
}

.table__color-box {
  border-radius: 50%;
  box-sizing: content-box;
  height: 19px;
  width: 19px;

  &[name="white"] {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #8b8b8b;
  }

  &[name="black"] {
    background-color: #000;
  }

  &[name="gray"] {
    background-color: #c4c4c4;
  }

  &[name="red"] {
    background-color: #dd1c10;
  }

  &[name="green"] {
    background-color: #77cf61;
  }
}

.table__item_remove {
  background-color: #282d30;
  border: 1px solid #282d30;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 0 auto;
  outline: none;
  padding: 3px 0 4px;
  transition: all 0.3s ease-in-out;
  width: 85px;

  @media screen and (min-width: 720px) {
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #8b8b8b;
    margin: 0 auto 0 0;

    &:hover {
      background-color: #282d30;
      border: 1px solid #282d30;
      color: #fff;
      cursor: pointer;
    }
  }
}
